* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica";
}
/* ************ */
/* HEADER START */
/* ************ */
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 120px;
  transition: all 0.2s ease-in-out;
  z-index: 9998;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
}
.menu-box {
  display: flex;
  align-items: center;
  width: 350px;
  height: inherit;
}
.social-box {
  display: flex;
  justify-content: end;
  width: 350px;
  height: inherit;
}
.logo-box {
  display: flex;
  width: 120px;
  height: inherit;
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  cursor: pointer;
}
#menu-burger span {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #d3ac82;
  border-radius: 5px;
}
.menu-open {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 100%;
  left: 0;
  transform: translate(-100%);
  transition: all 0.6s ease-in-out;
  background-color: #333333;
  z-index: 9999;
}
.menu-open .logo-box {
  width: 110px;
  height: 110px;
  align-self: center;
  margin-bottom: 15px;
}
.menu-open ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.menu-open ul li {
  list-style: none;
  margin: 5px;
}
.menu-open ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
}
#menu-close {
  display: flex;
  align-self: flex-end;
  width: 15px;
  height: 25px;
  margin: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.soc-box {
  display: flex;
  justify-content: space-around;
  width: 90px;
  height: 50px;
  margin-top: 10px !important;
}
.soc {
  display: flex;
  width: 35px;
  height: 35px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 50ms ease-in-out;
}
.soc:hover {
  transform: scale(1.05);
}
.soc a {
  width: 100%;
  height: 100%;
}
.face {
  background-image: url(../img/facebook.png);
}
.insta {
  background-image: url(../img/instagram.png);
}
.lang-box {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 80px;
  color: white;
  top: 40%;
}
.lang-box summary {
  width: 100%;
}
.lang-box span {
  display: flex;
  cursor: pointer;
  left: 20px;
  top: -25px;
}
.lang {
  display: flex;
  width: 25px;
  height: 20px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
}
.am {
  background-image: url(../img/am.png);
}
.ru {
  background-image: url(../img/rus.png);
}
.eng {
  background-image: url(../img/eng.png);
}
marquee {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  bottom: 60px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.35);
}
marquee h2 {
  color: white;
  font-size: 28px;
}
/* ********** */
/* HEADER END */
/* ********** */

/* ********** */
/* MAIN START */
/* ********** */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4770px;
}
/* SECTIN 1 START */
.main-sec-1 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 760px;
}
/* SECTIN 1 END */
/* SECTION 2 START */
.main-sec-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  padding: 25px 0;
}
.sec-2-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
}
.sec-2-title h2 {
  color: #c79c6e;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
}
.sec-2-title p {
  color: #c79c6e;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.slide-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
}
.slide-img,
.slide-img2 {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 350px;
  margin-right: 15px;
  transition: all 0.7s ease-in-out;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 0 0 black;
}
.slide-img-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1045px;
  height: 400px;
  overflow: hidden;
}
.slide-image {
  display: flex;
  width: 100%;
  height: 350px;
}
.slide-image img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.slide-tit {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  bottom: 0;
  backdrop-filter: blur(5px);
  /* background-color: rgba(211, 172, 130, 0.4); */
}
.slide-tit h3 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 3px;
}
.slide-tit p {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}
.slide-box button {
  display: flex;
  width: 45px;
  height: 350px;
  background-color: white;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}
.slide-box button:hover {
  transform: scale(1.05);
}
.slide-box button:first-child {
  background-image: url(../img/prev.png);
}
.slide-box button:last-child {
  background-image: url(../img/next.png);
}
/* SECTION 2 END */
/* SECTION 3 START */
.main-sec-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  padding: 0 25px !important;
}
.sec-3-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  left: 125px;
  z-index: 9996;
  padding: 45px;
  border: 2px solid #c79c6e;
}
.sec-3-cont h2 {
  color: #333333;
  font-size: 26px;
  text-transform: uppercase;
}
.sec-3-cont p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0;
}
.sec-3-cont button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  background-color: #c79c6e;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}
.sec-3-cont button:hover {
  transform: scale(1.05);
}
.sec-3-bg {
  display: flex;
  width: 600px;
  height: 400px;
  background-image: url(../img/sec-3-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sec-3-tab {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 400px;
  height: 400px;
  z-index: 9999;
  top: 150px;
  backdrop-filter: blur(5px);
  background-color: rgba(199, 156, 110, 0.8);
}
#close-tab {
  display: flex;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin: 15px;
  background-image: url(../img/close.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
#close-tab:hover {
  transform: rotate(180deg);
}
#tab-back {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9998;
  cursor: pointer;
}
/* SECTION 3 END */
/* ********** */
/* SECTION 4 START */
.main-sec-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1210px;
  background-color: white;
}
.sec-4-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
}
.sec-4-title p {
  font-size: 16px;
  text-transform: uppercase;
  color: #c79c6e;
}
.sec-4-title h2 {
  width: 65%;
  color: #333333;
  font-size: 30px;
  text-align: center;
}
.sec-4-title h3 {
  width: 50%;
  color: #555A61;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}
.sec-4-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 580px;
}
.sec-4-cont-box {
  display: flex;
  flex-direction: row;
  width: 1160px;
  height: 580px;
}
.sec-4-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 290px;
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.sec-4-cont h2 {
  color: #333333;
  font-size: 24px;
  padding-bottom: 20px;
}
.sec-4-cont p {
  font-size: 16px;
  color: #333333;
}
.sec-4-cont-box:first-child .sec-4-bg:nth-child(2) {
  background-image: url(../img/experienc.jpg);
}
.sec-4-cont-box:first-child .sec-4-bg:nth-child(4) {
  background-image: url(../img/247.jpg);
}
.sec-4-cont-box:last-child .sec-4-bg:nth-child(1) {
  background-image: url(../img/partners.jpg);
}
.sec-4-cont-box:last-child .sec-4-bg:nth-child(3) {
  background-image: url(../img/individual.jpg);
}
.sec-4-cont-box:first-child .sec-4-text::before {
  content: "";
  position: absolute;
  border: 10px solid #f9f9f9;
  transform: rotate(45deg);
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  z-index: 1;
}
.sec-4-cont-box:last-child .sec-4-text::before {
  content: "";
  position: absolute;
  border: 10px solid #f9f9f9;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
  left: -10px;
  z-index: 1;
}
.sec-4-bott{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
}
.sec-4-bott-par{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 280px;
}
.sec-4-bott-par h3{
  text-align: center;
  color: #333333;
  width: 50%;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}
.sec-4-line{
  display: flex;
  width: 200px;
  height: 1px;
  background-color: #c79c6e;
  margin: 35px 0;
}
.sec-4-bott-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}
.sec-4-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 35px;
  border: 1px solid #c79c6e;
  color: #333333;
  background-color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  transition: all 50ms ease-in-out;
}
.sec-4-button:hover{
  transform: scale(1.05);
}
/* SECTION 4 END */
/* ********** */
/* SECTION 5 START */
/* ********** */
.main-sec-5{
  display: flex;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: url(../img/sec-5-bg.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.65);
}
.sec-5-cont{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 350px;
  margin-left: 100px;
}
.sec-5-cont h2{
  color: white;
  font-size: 30px;
  line-height: 1.5;
  padding: 25px 0;
}
.sec-5-cont p{
  color: white;
  font-size: 16px;
  padding: 25px 0;
  line-height: 1.5;
}
/* SECTION 5 END */
/* ********** */
/* SECTION 6 START */
/* ********** */
.main-sec-6{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 230px;
}
.sec-6-cont{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 190px;
}
.sec-6-cont p{
  color: #D3AC82;
  font-size: 16px;
  text-transform: uppercase;
}
.sec-6-cont h2{
  color: #333333;
  font-size: 26px;
}
.sec-6-cont h3{
  color: #555A61;
  font-size: 20px;
  width: 40%;
  text-align: center;
  font-weight: 500;
}
/* SECTION 6 END */
/* ********** */
/* SECTION 7 START */
/* ********** */
.main-sec-7{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 480px;
}
.sec-7-tit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.sec-7-tit h2{
  color: #555A61;
  font-size: 26px;
  text-transform: uppercase;
}
.sec-7-cont{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 300px;
}
.sec-7-cont-top, 
.sec-7-cont-bottom{
  display: flex;
  width: 100%;
  height: 150px;
}
.sec-7-cont-top{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sec-7-cont-bottom{
  flex-direction: row;
  justify-content: space-between;
}
.sec-7-num-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 5;
  background-color: white;
  border: 1px solid #c79c6e;
}
.sec-7-num-main::before{
  position: absolute;
  content: '';
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgba(231, 179, 122, 0.2);
  border-radius: 50%;
  /* z-index: 1; */
}
.sec-7-num-main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 150px;
}
.sec-7-line{
  position: absolute;
  display: flex;
  width: 80%;
  height: 1px;
  background-color: #c79c6e;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}
.sec-7-num-box h2{
  color: #9d7a56;
  font-size: 28px;
  font-weight: bold;
}
.sec-7-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 200px;
  height: 150px;
}
.sec-7-text-box h3{
  color: #555A61;
  text-transform: uppercase;
  font-weight: 600;
}
.sec-7-text-box p{
  font-size: 16px;
  color: #555A61;
}
/* SECTION 7 END */
/* ********** */
/* SLIDE SECTION START */
/* ********** */
.slide-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
}
.sec-slide-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.sec-slide-title h2 {
  color: #555A61;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
}
.sec-slide-title p {
  color: #c79c6e;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
/* SLIDE SECTION END */
/* ********** */
/* MAIN END */
/* ********** */ 
/* FOOTER START */
/* ********** */ 
footer{
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #555A61;
}
/* FOOTER END */
/* ********** */ 


